.all-container {
  background-color: rgb(187, 149, 66);
  padding: 0;
  height: 712px;
}
.header-container{
    color: white;
    padding-top: 70px;
    margin-bottom: 40px;
}
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: start;
  color: rgb(153, 114, 28);
  background-color: rgba(216, 185, 129, 0.911);
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn-click {
  padding: 0.5rem 1rem;
  background-color: rgba(202, 159, 79, 0.911);
  color: white;
  border: none;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem 1rem;
}
.btn-click:hover {
  background-color: rgb(177, 135, 45);
}
