.sqr {
  width: 300px;
  height: 330px;
  background-color: rgba(208, 170, 100, 0.911);
  position: absolute;
  top: 50px;
  right: 25px;
  border-radius: 4%;
}
.image {
  position: relative;
  z-index: 1;
  border-radius: 4%;
  width: 230px;
  margin-bottom: 10px;
}
.image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.txt {
  padding: 20px;
  width: 270px;
  height: 190px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(209, 149, 20);
  border-radius: 4%;
  text-align: center;
  margin-left: 40px;
  color: rgb(153, 114, 28);
  position: absolute;
}
.txt:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btn{
  margin-top: 8.5rem;
  position: relative;
}