.navbar {
  padding: 0;
  border-bottom: 1px solid rgba(233, 233, 233, 0.904);
}
.nav-link {
  color: #e2a430;
}
.nav-link:hover {
  color: #966a19;
}
.icon {
  padding-left: 10px;
}
.btn {
  border: 1px solid #d49f3a;
}
.btn:hover {
  background-color: #d49f3a;
  color: white;
}
.search-container {
  flex: 1;
  max-width: 500px;
}
.search-bar::placeholder {
  color: rgb(168, 168, 168);
}
.nav-item {
  padding: 3px;
  font-size: 17px;
}
#nav-item a.active {
  color: #966a19;
  font-weight: bolder;
}
.cart-items-count {
  border-radius: 9px;
  font-size: 12px;
  background: #dd6a0c;
  color: #fff;
  padding: 0px 5px;
  vertical-align: center;
}
